@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: rgba(170, 92, 219, .6);
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--very-dark-blue);
    font-size: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
main {
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;
    width: 90%;
    max-width: 1100px;
    margin: 3rem 0 5rem;
}
.top-container {
    height: 200px;
    background: linear-gradient(var(--soft-violet), var(--soft-violet)), url(images/image-header-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}
.bottom-container {
    padding: 2rem 1.5rem;
    text-align: center;
}
.head {
    font-family: 'Inter', sans-serif;
    margin-bottom: 2rem;
}
.head h1 {
    color: var(--white);
    margin-bottom: 1rem;
}
.head h1 span {
    color: var(--soft-violet);
}
.head p {
    color: var(--slightly-transparent-white-stat);
    line-height: 1.5rem;
    font-size: 13px;
}
.stats {
    font-family: 'Lexend Deca', sans-serif;
}
.stat {
    padding: .8rem 0;
}
.stat p {
    color: var(--white);
    font-size: 1.5em;
    line-height: 1.5rem;
    text-transform: uppercase;
}
.stat p.thin {
    color: var(--slightly-transparent-white-stat);
    font-size: 13px;
}

@media (min-width: 760px) and (max-width: 990px) {
    .top-container {
        min-height: 350px;
    }
}

@media (min-width: 991px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .top-container {
        grid-column: 2;
        height: 100%;
        background: linear-gradient(var(--soft-violet), var(--soft-violet)), url(images/image-header-desktop.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 0 15px 15px 0;
    }
    .bottom-container {
        grid-column: 1;
        grid-row: 1;
        padding: 3rem 4rem;
        text-align: left;
    }
    .stats {
        display: flex;
        justify-content: space-between;
    }
}




.attribution {
    position: absolute;
    bottom: 1rem;
    font-size: 11px;
    text-align: center;
    padding: 1rem;
    color: var(--slightly-transparent-white-main);
  }
  .attribution a {
    color: var(--soft-violet);
  }